
/* ### Start Universal CSS Part ### */

body{
    max-width: 1440px;
    background-color: #f5f8ff;
    box-sizing: border-box;
    margin: 0 auto;
}
section{
    max-width: 1140px;
    margin: 60px auto;
}

/* Common Add-to-Cart Style */
.add_to_cart{
    padding: 1.25rem 5.68rem;
    background-color: #E95A08;
    color: #FFFFFF;
    font-family: "Inter", sans-serif;
    border: none;
}

/* ### End Universal CSS Part ### */

/* ------------------------- ****** -------------------------- */

/* ### Start Common Typography Part ### */

/* Font Family */
.open-sans-font, .inter-font, .noto-serif-font{
  font-optical-sizing: auto;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}
.open-sans-font {
  font-family: "Open Sans", sans-serif;
}
.inter-font> {
  font-family: "Inter", sans-serif;
}
.noto-serif-font {
  font-family: "Noto Serif", serif;
}

/* Navbar Text */
.text-home{
    font-family: "Inter", sans-serif;
    color: #000000;
    font-weight: 600;
}
.text-nav{
    font-family: "Inter", sans-serif;
    color: #8987a1;
}
.text-cart{
    font-family: "Inter", sans-serif;
    color: #000000;
}

/* Banner Text */
.text-main-heading{
    font-family: "Noto Serif", serif;
    font-size: 4rem;
    color: #000000;
}

/* Common Text */
.text-center{
    text-align: center;
}
.text-heading{
    font-family: "Noto Serif", serif;
    font-size: 3.1rem;
    color: #000000;
}
.text-color{
    color: #E95A08;
}
.text-body{
    font-family: "Inter", sans-serif;
    font-size: 1.3rem;
    color: #7b7c80; 
}

/* Plant Section Text */
.text-plant-text, .text-plant-value{
    font-family: "Inter", sans-serif;
    font-size: 1.3rem;
    color: #111111;
}
.text-plant-text{
    font-weight: 500;
}

.text-plant-value{
    font-weight: 700;
}

/* Deal Section Text */
.text-deal-main, .text-deal-main-small{
    font-family: "Noto Serif", serif;
    font-weight: 700;
    color: #FFFFFF;
}
.text-deal-main{
    font-size: 2.5rem;
    margin-bottom: 0;
}
.text-deal-main-small{
    font-size: 1.25rem;
    margin-bottom: 15px;
}
.text-deal-button, .text-deal-button-small{
    font-family: "Inter", sans-serif;
    font-weight: 600;
    color: #FFFFFF;
}
.text-deal-button{
    font-size: 1.7rem;
}

/* Footer Text */
.text-footer{
    font-family: "Inter", sans-serif;
    color: #6b7280;
}

/* ### End Common Typography Part ### */

/* ------------------------- ****** -------------------------- */

/* ### Start Header Style Part ### */

.navbar{
    border: 1px solid black;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 30px;
}
.nav-items ul{
    display: flex;
}
.nav-items ul li{
    list-style: none;
    margin-left: 48px;
}
.nav-items ul li a{
    text-decoration: none;
}

/* ### Start Responsive Style of Header Part ### */

@media screen and (max-width: 768px) {
    .navbar{
        padding-left: 10px;
        padding-right: 10px;
        margin-bottom: 15px;
    }
    .text-home, .text-nav{
        display: none;
    }
    .nav-items ul li{
    margin-left: 0;
}
}

/* ### End Responsive Style of Header Part ### */

/* ### End Header Style Part ### */

/* ------------------------- ****** -------------------------- */

/* ### Start Banner Style Part ### */

.banner{
    display: flex;
    border: 1px solid black;
    justify-content: space-between;
    padding-top: 100px;
}
.banner-text{
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}
.banner-text h1{
    margin-bottom: 0;
}
.banner-text p{
    margin-top: 0;
    margin-bottom: 0;
    width: 90%;
}
.banner-image img{
    display: block; 
}

/* ### Start Responsive Style of Banner Part ### */

@media screen and (max-width: 768px) {
    .banner{
        flex-direction: column-reverse;
        margin-top: 15px;
        padding-top: 0;
    }
    .banner-image img{
        width: 100%;
    }
    .banner-text{
        padding-left: 10px;
        padding-right: 10px;
    }
    .banner-text h1{
        margin-top: 20px;
    }
    .banner-text p{
        margin-top: 20px;
    }
}

/* ### End Responsive Style of Banner Part ### */

/* ### End Banner Style Part ### */

/* ------------------------- ****** -------------------------- */

/* ### Start Our Plants Style Part ### */

.our_plants_heading{
    border: 1px solid black;
}
.our_plants_heading h2{
    margin-bottom: 10px;
}
.our_plants_heading p{
    width: 70%;
    margin: 0 auto;
}
.our_plants_cards{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 50px;
    gap: 17px;
}
.flower-card img{
    display: block;
}
.flower-card-text{
    padding-top: 20px;
    padding-bottom: 20px;
}
.flower-card h5{
    margin-top: 5px;
    margin-bottom: 5px;
}

/* ### Start Responsive Style of Our Plants Part ### */

@media screen and (max-width: 768px) {
    .flower-card{
        width: 45%;
    }
    .flower-card img{
        width: 100%;
    }
    .add_to_cart{
        width: 100%;
    }
    .our_plants_heading p{
        width: 90%;
    }
}

/* ### End Responsive Style of Our Plants Part ### */

/* ### End Our Plants Style Part ### */

/* ------------------------- ****** -------------------------- */


/* ### Start Plants Lover Style Part ### */

.plants_lover{
    margin-top: 190px;
    border: 1px solid black;
    position: relative;
}
.plants_lover_content{
    display: flex;
    justify-content: center;
    gap: 60px;
}
.plants_lover_img img{
    display: block;
}
.plants_lover_text ul li{
    margin-top: 20px;
}
.badge{
    border: 1px solid yellow;
    width: 286px;
    height: 286px;
    position: absolute;
    left: 30%;
    top: -25%;
    /* transform: translate(30%, -25%); */
}
.badge img{
    width: 100%;
    animation: badge-spin 7s linear infinite;
}
@keyframes badge-spin{
    from{
        transform: rotate(0deg);
    }
    to{
        transform: rotate(360deg);
    }
}
/* ### Start Responsive Style of Plants Lover Part ### */

@media screen and (max-width: 768px) {
    .plants_lover{
        margin-top: 30px;
        padding-right: 10px;
        padding-left: 10px;
    }
    .plants_lover_content{
        flex-direction: column;
        gap: 0px;
    }
    .badge{
        display: none;
    }
    .plants_lover_img img{
        width: 100%;
    }
}

/* ### End Responsive Style of Plants Lover Part ### */

/* ### End Plants Lover Style Part ### */

/* ------------------------- ****** -------------------------- */

/* ### Start Deals Style Part ### */

.deals_heading{
    border: 1px solid black;
}
.deals_heading h2{
    margin-bottom: 10px;
}
.deals_heading p{
    width: 70%;
    margin: 0 auto;
}
.deals_images{
    margin-top: 120px;
    display: flex;
    gap: 20px;
}
.verticle_collage{
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 30%;
}
.left-top-img{
    background-image: url('./assets/deal-ana.png');
    min-height: 200px;
    position: relative;
    isolation: isolate;
}
.left-bottom-img{
    background-image: url('./assets/deal-bloom.png');
    min-height: 200px;
    position: relative;
    isolation: isolate;
}
.right-img{
    background-image: url('./assets/deal-zabo.png');
    min-height: 420px;
    width: 70%;
    position: relative;
    isolation: isolate;
}
.left-top-img::after, .left-bottom-img::after,.right-img::after{
    content: '';
    position: absolute;
    z-index: -1;
    inset: 0;
    background: black;
    opacity: 0.4;
    border-radius: 25px;
}
.left-top-img, .left-bottom-img, .right-img{
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 25px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.deals_images button{
    background-color: transparent;
    border: none;
    text-decoration: underline;
    cursor: pointer;
}

/* ### Start Responsive Style of Deals Part ### */

@media screen and (max-width: 768px) {
    .deals_images{
        flex-direction: column;
        margin-top: 50px;
    }
    .verticle_collage, .right-img{
        width: 100%;
    }
    .right-img{
        min-height: 200px;
    }
    .text-deal-main{
        font-size: 1.25rem;
        margin-bottom: 15px;
    }
    .text-deal-button{
        font-size: 1rem;
    }
    .deals_heading, .deals_images{
        padding-right: 10px;
        padding-left: 10px;
    }
    .deals_heading p{
    width: 100%;
}
}

/* ### End Responsive Style of Deals Part ### */

/* ### End Deals Style Part ### */

/* ------------------------- ****** -------------------------- */

/* ### Start Banner Style Part ### */

/* ### Start Responsive Style of Banner Part ### */



/* ### End Responsive Style of Banner Part ### */

/* ### End Banner Style Part ### */

/* ------------------------- ****** -------------------------- */

/* ### Start Banner Style Part ### */

/* ### Start Responsive Style of Banner Part ### */



/* ### End Responsive Style of Banner Part ### */

/* ### End Banner Style Part ### */

/* ------------------------- ****** -------------------------- */